:root {
    --blue-grad: linear-gradient(180deg, rgba(2, 148, 255, .45) 31.13% rgba(255, 255, 255, .0001) 117.06%);
    --primary-font: Segoe UI;
}


$light-greem: #27AE60;
$yellow: #FDC203;
$white-200: #EAEEF0;
$gray-100: #7F8FA4;
$gray-200: #647787;
$blue: #1875F0;
$black-100: #414042;
$black-200: #262626;