:root {
    --blue-grad: linear-gradient(180deg, rgba(2, 148, 255, .45) 31.13% rgba(255, 255, 255, .0001) 117.06%);
    --primary-font: Segoe UI;
    --bold-font: Segoe UI Bold;
}

$white: #FFFFFF !default;
$white-100: #f7f8fa !default;
$white-200: #EAEEF0 !default;
$light-green: #27AE60 !default;
$yellow: #FDC203 !default;
$gray: #E5E5E5 !default;
$gray-100: #7F8FA4 !default;
$gray-200: #647787 !default;
$blue: #1875F0 !default;
$black-100: #414042 !default;
$black-200: #262626 !default;